/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {
/* This is what makes the navigation bar responsive as well as the row div for the main content */
    .main-header, 
    .main-nav,
    .row {
    display: flex;
    }

/* This is used to stack the site title and the nav menu in columns between 769px and 1024px */
    .main-header {
    flex-direction: column;
    align-items: center;
    }	

/* This is to make a two column layout of the primary and secondary content */
    .col {
    flex: 1;
    }

}
    
@media (min-width: 1025px) {
/* This is the spread out the title of the site and nav menu above 1025px */
    .main-header {
    flex-direction: row;
    justify-content: space-between;
    }

/* This is to make a two column layout for the primary and secondary main content where primary takes twice as much of secondary */
    .primary {
    flex: 2;
    }
}